body{
	background-color: #232323;
	margin: 0;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
h1{
	color: white;
	text-align: center;
	margin: 0;
	background-color: steelblue;
	text-transform: uppercase;
	font-size: 200%;
}

.square{
	width: 30%;
	background: purple;
	float: left;
	margin: 1.66%;
	padding-bottom: 30%;
	border-radius: 15%;
	transition:background 0.5s;
}

#container{
	margin: 20px auto;
	max-width: 600px;
}

#colorDisplay{
	font-size: 200%;
}

#message{
	display: inline-block;
	width: 30%;
}

#stripe{
    background:white;
    text-align: center;
    color: black;
    height: 30px;
}

#newgame{
    
}

.selected{
	background-color: steelblue;
	color: white;
}

button{
	border:0;
	background: none;
	text-transform: uppercase;
	color:steelblue;
	font-size: inherit;
	transition: all 0.25s;
	letter-spacing: 1.2px;
	height: 100%;
}

button:hover{
	color: white;
	background: steelblue;
}
